body {
    background-color: rgba(57, 135, 57, 0.429);
}

h3 {
    display: flex;
    justify-content: center;
    font-size: 35px;
}

a {
    margin: 20px;
    background-color: rgba(5, 85, 58, 0.311);
    text-decoration: black;
}
